:root {

    box-sizing: border-box;
    --h-full: 100vh;
    --main: calc(100vh - 3.6rem);
    /* height: calc(100vh - 3.6rem); */

    /* --breakpoint: */
    --idk: 640px;
    --phone: 688px;
    --tablet: 992px;
    --md-desktop: 567px;
    --lg-desktop: 1312px;

}

::selection {
    -moz-text-fill-color: #ff0;
    -webkit-text-fill-color: #ff0;
    /* -webkit-tap-highlight-color: #ff0; */

    // color: #000000;
    // -webkit-text-stroke-width: 1px;
    // -webkit-text-fill-color: #000; /* Will override color (regardless of order) */
    // -webkit-text-stroke-color: #000000;
}

img {
    max-width: 100%;
    overflow: hidden;
    height: var(--main);
    // pointer-events: none;
}

// *,
// *::before
// *::after {
//     overflow: hidden;
//     overflow-y: hidden;
//     overflow-x: hidden;
//     box-sizing: border-box;
// }

html {
    overflow: hidden;
    box-sizing: border-box;
}

.plank {
    width: 100%;
    overflow: hidden;
    // height: var(--main);
}

// IMAGE ARENA
.plank--img {
    width: 50%;
    float: left;
    overflow: hidden;
    object-fit: cover;
    pointer-events: none;
    // height: var(--main);

    // display: flex;
    // align-items: center;
    // justify-content: center;
}

.plank-figure {
    width: 50vw;
    height: var(--main);
    pointer-events: none;
}

// PRODUCT INFORMATION ARENA
.info {

    float: right;
    height: var(--main);
    // background-color: #cccccc;
    width: clamp(50%, 5vw, 50%);

    display: flex;
    align-items: center;
    justify-content: center;

}

.plank-info {
    width: clamp(95%, 5vw, 95%);
}

.info-subtitle {
    font-size: 1.8rem;
}

.info-title {
    font-size: 3rem;
    margin-bottom: 0.6rem;
}

.info-description {
    line-height: 1.3rem;
    margin-right: 2.6rem;
    margin-bottom: 1rem;
    // background-color: darkgrey;
}

.ingredients {
    border: 1px solid;
}

// PRICE ARENA
.bottom {

    right: 0;
    bottom: 0;
    width: 50%;
    float: right;
    height: 70px;
    overflow: hidden;
    position: absolute;
    // border-radius: 2px;
    // border-top-left-radius: 2em;
    // padding: .3rem 0 .3rem 0;
    background-color: #ffffff;
    // box-shadow: 15px 5px 12px rgba(0, 0, 0, 0.5);

    display: flex;
    // margin-top: 16rem;
    align-items: center;
    justify-content: space-around;

}

.price-title {

    font-weight: 500;
    font-size: 1.8rem;

}

.bttn--price {

    font-weight: bold;
    color: var(--black);
    border-radius: 50px;
    padding: 1.3rem 5rem;
    background-color: #cccccc;
    border: 1px solid #cccccc;

    &:hover {

        background-color: #cccccc;
        border-top: 2px solid var(--black);
        border-left: 1px solid var(--black);
        border-right: 1px solid var(--black);
        border-bottom: 3px solid var(--black);
    
    }

    &:active {

        text-decoration: underline;
        background-color: var(--white);
        border: 1px solid var(--black);

    }

}

// LARGE SCREEN
@media (min-width: 1312px) and (max-width: 567px) {
    html {
        overflow: hidden;
    }

    /* height affect the all page */
    .plank {
        width: 100%;
        overflow: hidden;
        height: var(--main); /* height affect the all page */
    }
}

// Phone
// @media (max-width: 688px) {
//     // html {
//     //     overflow: hidden;
//     // }

//     .plank {
//         width: 100%;
//         overflow: hidden;
//         height: var(--h-full);
//     }

//     .info {
//         // height: var(--h-full);
//         overflow: hidden;
//         // background-color: #a0a0a0;
//         width: clamp(100%, 5vw, 100%);
//     }

//     .plank-info {
//         margin-left: 2rem;
//         margin-right: 2rem;
//         height: var(--main);
//         // background-color: bisque;
//     }

//     .info-subtitle {
//         font-size: 1.6rem;
//         margin-left: 2rem;
//         margin-right: 2rem;
//     }

//     .info-title {
//         font-size: 1.6rem;
//         margin-left: 2rem;
//         margin-right: 2rem;
//         // margin-bottom: .1rem;
//         background-color: #cccccc;
//     }

    // .info-description {
    //     font-size: 0.900rem;
    //     margin-left: 2rem;
    //     line-height: 1.2rem;
    //     margin-right: 2.6rem;
    //     margin-bottom: .900rem;
    //     // background-color: darkgrey;
    // }

//     .ingredients {
//         // width: 86%;
//         margin-left: 2rem;
//         margin-right: 2rem;
//         margin-bottom: 63rem;
//         // border-radius: .6em .2em .6em .2em;

//         h1 {
//             font-size: 1rem;

//             margin-bottom: 0.1rem;
//         }

//         p {
//             font-size: .900rem;
//         }
//     }
// }

// iPhone 5/SE iOS 10.3.1
@media (max-width: 568px) {
    img {
        max-width: 100%;
        overflow: hidden;
        pointer-events: none;
    }

    .plank {
        width: 100%;
        overflow-y: auto;
        overflow-x: hidden;
        height: var(--h-full);
    }

    .plank--img {
        pointer-events: none;
    }

    .plank-figure {
        pointer-events: none;
    }

    .info {
        overflow: hidden;
        height: var(--h-full);
        // background-color: #a0a0a0;
        width: clamp(100%, 5vw, 100%);
    }

    .plank-info {
        margin-left: 2rem;
        margin-right: 2rem;
        // height: var(--main);
        // background-color: bisque;
    }

    .info-subtitle {
        font-size: 1.6rem;
        margin-left: 2rem;
        margin-right: 2rem;
    }

    .info-title {
        font-size: 1.6rem;
        margin-left: 2rem;
        margin-right: 2rem;
        // margin-bottom: .1rem;
        // background-color: #cccccc;
    }

    .info-description {
        // font-size: 0.900rem;
        margin-left: 2rem;
        line-height: 1.2rem;
        margin-right: 2.6rem;
        margin-bottom: .900rem;
        // background-color: darkgrey;
    }

    .ingredients {
        // width: 86%;
        margin-left: 2rem;
        margin-right: 2rem;
        margin-bottom: 63rem;

        h1 {
            font-size: 1rem;

            margin-bottom: 0.1rem;
        }

        p {
            font-size: .900rem;
        }
    }

    // BUTTOM ARENA
    .bottom {
        bottom: 0;
        // opacity: 0;
        width: 100%;
        position: absolute;
        padding: 1rem 0 1rem 0;
        border-radius: 2em 2em 0 0;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);

        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    .bttn--price {
        padding: 1.3rem 3rem;
    }
}

// SMALLER SCREEN to LARGER SCREEN PHONE ARENA
@media (max-width: 46rem) {
    img {
        height: auto;
        max-width: 100%;
        overflow: hidden;
        pointer-events: none;
    }

    html {
        overflow: hidden;
    }

    .plank {
        width: 100%;
        overflow-y: auto;
        overflow-x: hidden;
        height: var(--h-full);
    }

    .plank--img {
        width: 100vw;
        object-fit: cover;
        margin-bottom: 0.6em;
        pointer-events: none;

        display: flex;
        justify-content: center;
    }

    .plank-figure {
        width: 100%;
        height: 25rem;
        border-radius: 0;
        pointer-events: none;
    }

    .info {
        height: var(--h-full);
        // height: 72vh;
        // height: 51vh;
        overflow: hidden;
        // background-color: #a0a0a0;
        width: clamp(100%, 5vw, 100%);

        // display: flex;
        // align-items: center;
        // justify-content: center;
    }

    .plank-info {
        margin-left: 2rem;
        margin-right: 2rem;
        height: var(--h-full);
        // background-color: bisque;
    }

    .info-subtitle {
        font-size: 1.8rem;
        margin-left: 2rem;
        margin-right: 2rem;
    }

    .info-title {
        font-size: 3rem;
        margin-left: 2rem;
        margin-right: 2rem;
        margin-bottom: .1rem;
    }

    .info-description {
        margin-left: 2rem;
        line-height: 1.2rem;
        margin-right: 2.6rem;
        margin-bottom: .900rem;
        // background-color: darkgrey;
    }

    // BUTTOM ARENA
    .bottom {
        // left: 0;
        bottom: 0;
        width: 100%;
        // margin-top: 63rem;
        position: absolute;
        // margin-top: 5.6rem;
        padding: 1rem 0 1rem 0;
        border-radius: 2em 2em 0 0;
        // padding: 1rem 1rem 1rem 1rem;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);

        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
}

.hover\:font-capitalize:hover {
    background-color: #cccccc;
}

@media (max-width: 640px) {    
    .hover\:font-capitalize:hover {
        color: #ffffff;
        background-color: #222222;
    }
}